<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <title>{{ device }} - Homeautomation!</title>
    </head>
    <body>
        <script src="../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
        <script src="../alpinejs-3.11.1-min.js"></script>

        <div class="mt-0 p-4 bg-light border">
            <h1>Homeautomation</h1>
            <h2>Details for: {{ device }}</h2>

            <div class="dropdown">
                <a class="btn btn-primary" href="/" role="button">Go back</a>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    From
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="?from=-1hours">-1 Hour</a></li>
                    <li><a class="dropdown-item" href="?from=-2hours">-2 Hours</a></li>
                    <li><a class="dropdown-item" href="?from=-4hours">-4 Hours</a></li>
                    <li><a class="dropdown-item" href="?from=-8hours">-8 Hours</a></li>
                    <li><a class="dropdown-item" href="?from=-1days">-1 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-2days">-2 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-7days">-7 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-14days">-14 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-1months">-1 Month</a></li>
                    <li><a class="dropdown-item" href="?from=-3months">-3 Month</a></li>
                    <li><a class="dropdown-item" href="?from=-1years">-1 Year</a></li>
                    <li><a class="dropdown-item" href="?from=-2years">-2 Year</a></li>
                    <li><a class="dropdown-item" href="?from=-3years">-3 Year</a></li>
                </ul>
            </div>
        </div>
        <div class="container mt-3">
            {% if device_data.__dict__.actions and device_data.__dict__.actions is mapping %}
            <div class="container mt-3">
                {% for a in device_data.__dict__.actions.keys() %}
                    {% set action = device_data.__dict__.actions[a] %}
                    {% if action.type == 'button' %}
                    <button
                        type="button"
                        class="btn btn-primary m-1"

                        x-data="{
                            result: {},

                            async actionPOST{{ a }}() {
                                this.result = await (await fetch('/api/v1/devices/{{ device }}', {
                                  method: 'POST',
                                  body: JSON.stringify({
                                    action: '{{ a }}',
                                  }),
                                  headers: {
                                    'Content-type': 'application/json; charset=UTF-8',
                                  },
                                })).json();
                                // console.log(this.result);
                            },
                        }"

                        x-on:click="actionPOST{{ a }}"
                    >{{ action.label | d(a) }}</button>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="container mt-3">
                {% for a in device_data.__dict__.actions.keys() %}
                    {% set action = device_data.__dict__.actions[a] %}
                        {% if action.type == 'slider' %}
                        <p
                            x-data="{
                                result: {},
                                value: {{ device_data.__dict__[a] | d(0) }},

                                async actionPOST(value) {
                                    this.result = await (await fetch('/api/v1/devices/{{ device }}', {
                                      method: 'POST',
                                      body: JSON.stringify({
                                        action: '{{ a }}',
                                        msg: {
                                            {{ a }}: parseInt(value),
                                            {% if action.additional_kv %}
                                            {% for k,v in action.additional_kv.items() %}
                                            {{ k }}: {{ v }},
                                            {% endfor %}
                                            {% endif %}
                                        }
                                      }),
                                      headers: {
                                        'Content-type': 'application/json; charset=UTF-8',
                                      },
                                    })).json();
                                    // console.log(this.result);
                                },
                            }"
                        >
                            {{ action.label | d(a) }}:
                            <input
                                type="range"
                                min="{{ action.min }}"
                                max="{{ action.max }}"
                                x-model="value"

                                x-on:mouseup="actionPOST(value)"
                                x-on:touchend="actionPOST(value)"
                            >
                            (<span x-text="value"></span>)
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="container mt-3">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne"
                                aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne"
                            >
                                <h4 class="text-primary">Details</h4>
                            </button>
                        </h2>
                        <div
                            id="panelsStayOpen-collapseOne"
                            class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne"
                        >
                            <div class="accordion-body">
                                <table class="table">
                                    <tbody>
                                        {% for k in device_data.__dict__ if not k.startswith('_') %}
                                        <tr>
                                            <th scope="row">{{ k }}</th>
                                            {% if k == 'last_update' %}
                                            <td>{{ device_data[k]['human'] }}</td>
                                            {% else %}
                                            <td>{{ device_data[k] }}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                {% for m in metrics %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading{{ m }}">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapse{{ m }}"
                                aria-expanded="false"
                                aria-controls="panelsStayOpen-collapse{{ m }}"
                            >
                                <h4 class="text-primary">{{ m }}</h4>
                            </button>
                        </h2>
                        <div
                            id="panelsStayOpen-collapse{{ m }}"
                            class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-heading{{ m }}"
                        >
                            <div class="accordion-body">
                                <img
                                    src="../api/v1/devices/{{ device }}/metrics/{{ m }}?from={{ from_data }}"
                                    class="card-img-top"
                                    alt="Metrics Graph for {{ m }}"
                                >
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
  </body>
</html>

