<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Homeautomation!</title>
    </head>
    <body>
        <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

        <div class="mt-0 p-4 bg-light border">
            <h1>Homeautomation</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    From
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="?from=-1hours">-1 Hour</a></li>
                    <li><a class="dropdown-item" href="?from=-2hours">-2 Hours</a></li>
                    <li><a class="dropdown-item" href="?from=-4hours">-4 Hours</a></li>
                    <li><a class="dropdown-item" href="?from=-8hours">-8 Hours</a></li>
                    <li><a class="dropdown-item" href="?from=-1days">-1 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-2days">-2 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-7days">-7 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-14days">-14 Day</a></li>
                    <li><a class="dropdown-item" href="?from=-1months">-1 Month</a></li>
                    <li><a class="dropdown-item" href="?from=-3months">-3 Month</a></li>
                    <li><a class="dropdown-item" href="?from=-1years">-1 Year</a></li>
                    <li><a class="dropdown-item" href="?from=-2years">-2 Year</a></li>
                    <li><a class="dropdown-item" href="?from=-3years">-3 Year</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="container mt-3">
                        {% for d in devices %}
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ devices[d]['name'] }}
                                    {% if devices[d]['last_update'] and devices[d]['last_update']['outdated'] is defined %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle text-danger" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>
                                    {% endif %}
                                </h5>
                                {% if devices[d]['temperature'] is defined %}
                                <h6 class="card-subtitle mb-2 text-muted">Temp {{ devices[d]['temperature'] }}°</h6>
                                {% endif %}
                                <h6 class="card-subtitle mb-2 text-muted">Battery {{ devices[d]['battery'] }}%</h6>
                                {% if devices[d]['last_update'] and devices[d]['last_update']['outdated'] is defined %}
                                <h6 class="card-subtitle mb-2 text-muted">Last update {{ devices[d]['last_update']['human'] }}</h6>
                                {% endif %}
                                <a href="/details/{{ d }}" class="card-link">Metrics</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm">
                    <div class="container mt-3">
                        {% for dg in device_groups %}
                        <div class="card mt-2">
                            <h5 class="card-title mt-2 m-4">{{ dg }}</h5>
                            {% for m in device_groups[dg].metrics %}
                            <div class="card-body">
                                <a
                                    href="api/v1/device_groups/{{ dg }}/metrics/{{ m }}?from={{ from_data }}"
                                >
                                    <img
                                        src="api/v1/device_groups/{{ dg }}/metrics/{{ m }}?from={{ from_data }}"
                                        class="card-img-top"
                                        alt="Metrics Graph for {{ dg }}/{{ m }}"
                                    >
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

  </body>
</html>

